
@font-face {
  font-family: 'universedisplay';
  src: url('universe-webfont.woff2') format('woff2'),
       url('universe-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


body {
    margin:auto;
    padding: auto;
    overflow-y:hidden;
   background-color: black;

}


.container-fluid{
    margin: 0;
    padding: 0;
  overflow: hidden;
 
}

.col-md-2{
  background-color: black;
}

.row{
    height: auto;
    width: auto;
}

.side-nav img{
  width: 62%;
  height: auto;
}


.col-md-9{
  position: relative;
  padding: 0; 
  margin:0; 

  display: inline-block;

}


.secondgrid-text{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    color: white;

}
.secondgrid-photo img{
  height: 100%;
   left:0px;
   opacity: 0.29;
 	display: block;

overflow: hidden;
 position: absolute;
 
}

#menu-outer {
    height: 84px;
}



.col-md-1{
  
  background-color: black;
}


.table{
  padding-top: 75px;
  position: relative;
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
}

.horizontal-list ul{
	   margin-left: 145px;
    
   
    list-style: none;
   
    word-spacing: 230px;
    }
.horizontal-list ul li{
        display: inline;

    }
.horizontal-list ul li a{
 
  color:  #00245D;
    text-decoration: none;
    font-family: 'universedisplay',sans-serif;  
   font-size: 18px;
}

.snip1529 {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 10px;
  max-width: 225px;
  
 
  position: relative;
  text-align: left;
  width: 100%;
  height: 250px;
}

.snip1529 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1529 img {
  
  max-width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.45;
}

.snip1529 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}



.snip1529 h3,
.snip1529 p {
  margin: 0;
  padding: 0;
}

.snip1529 h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
}

.snip1529 .hover {
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #2098D1;
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.snip1529 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1529:hover .hover,
.snip1529.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}

.snip1529:hover figcaption,
.snip1529.hover figcaption {
  opacity: 0;
}






.home-text{
    
  position: relative;
    color: white;
   font-family: 'universedisplay',sans-serif;
}

.home-text ul li{
    text-decoration: none;
}

.home-text p{
 
  font-family: 'Rajdhani', sans-serif;
  word-spacing: 2.5px;

	  width: 650px;
   text-align: justify;
  margin-top:  25px;
  font-size: 16px;
}

.home-text h1{
  color: WHITE;
  position: relative;
  
  letter-spacing: 15px;
  font-size: 60px;
}

.home-text h3{
  font-family: 'Rajdhani', sans-serif;

}



.social-icon{
  text-align: center;
  
}
.fa-stack{
  color: black;
}
.fa fa-twitter fa-stack-1x fa-inverse {
  color:white;
}




/* Style the links inside the sidenav */
#mySidenav a {
 
 margin-top: 180px;
  text-align: right;
  font-family: 'universedisplay',sans-serif;
  position: absolute; /* Position them relative to the browser window */
  right: 20px; /* Position them outside of the screen */


  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
 
}



/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
 
}

#blog {
  top: 80px;
  
}

#projects {
  top: 140px;
  
}

#contact {
  top: 200px;

}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(5px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}





@media (min-width: 1281px) {
  
 
  
  .about_mobile{
    display:none;
  }
  .portfolio_mobile{
    display:none;
  }

  .contactme_mobile{
    display:none;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .side-nav{
    display: none;
  }
  
  .about_mobile{
    display:none;
  }
  .portfolio_mobile{
    display:none;
  }

  .contactme_mobile{
    display:none;
  }
}



/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {


  body{
    margin:auto;
    padding: auto;
   background-color: black;

  }

  
.container-fluid{
  margin: 0;
  padding: 0;


}


  .home-text{
    padding-top:35px;
    margin-left: 10px;
  }
  .side-nav{
    display: none;
  }

  .secondgrid-photo img{
    display:none;
  }
  .home-text p{
 
    font-family: 'Rajdhani', sans-serif;
    word-spacing: 2.5px;
    margin-left: 25px;
 
    width: 85%;
    
     text-align: justify;

    font-size: 14.5px;
    padding-bottom: 150px;
  }

  .home-text h3{
    font-family: 'Rajdhani', sans-serif;
  }
  
  .home-text h1{
    color: WHITE;
    position: relative;
    margin-left: 25px;
 
    width: 85%;
    letter-spacing: 15px;
    font-size: 45px;
  }
  
  .home-text h3{
    margin-left: 25px;
 
    width: 85%;
    font-family: 'Rajdhani', sans-serif;
  
  }

  Body{
    display: block;
  }

  .portfolio_mobile{
    overflow: hidden;
    color: black;
    font-family: 'Rajdhani', sans-serif;
  }
  .portfolio_mobile h1{
    text-align: center;
    color: black;
    font-family: 'universedisplay',sans-serif; 

    word-spacing: 2.5px;
    margin-left: 35px;
  
    width: 85%;
    
     text-align: justify;
  
    font-size: 35px;
    margin-bottom: -2.5px;
    
  }
  .portfolio_mobile h3{ 
    text-align: center;
    color: black;
    word-spacing: 2.5px;
    margin-left: 35px;
  
    width: 85%;
    
     text-align: justify;
  

  }


  .portfolio_mobile img{
    display: block;
   width: 85%;
   margin: auto;
  }

.portfolio_mobile p{
  text-align: center;
  color: black;
  word-spacing: 2.5px;
  margin-left: 35px;

  width: 85%;
  
   text-align: justify;
  }

.portfolio_caption h1{
  font-family: 'Rajdhani', sans-serif;
  position: relative;
  margin-bottom: -20px;
}

.portfolio_caption p{
  font-family: 'Rajdhani', sans-serif;
  word-spacing: 2.5px;
  text-align: justify;
  padding-bottom: 15px;
}


.portfolio_caption h3{
  font-family: 'Rajdhani', sans-serif;
  position: relative;
  margin-bottom: -10px;
  color: #00245D;
  
}
  .col-md-1{
    display: none;
  }
  
.about_mobile{
  color: white;
}



.about_mobile h1{
  font-family: 'universedisplay',sans-serif;
  
  margin-left: 35px;
  width: 85%;
  position: relative;
}



.about_mobile h3{
  font-family: 'Rajdhani', sans-serif;
  word-spacing: 2.5px;
    margin-left: 20px;
 
    width: 90%;
    
     text-align: center;

    font-size: 13px;
    margin-bottom: -1.5px;
}

.social-icon{
  text-align: center;
  
}
.fa-stack{
  color: black;
}
.fa fa-twitter fa-stack-1x fa-inverse {
  color:white;
}
}




@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


@media (min-width: 321px) and (max-width: 480px) {


  body{
    margin:auto;
    padding: auto;
   background-color: black;

  }

  
.container-fluid{
  margin: 0;
  padding: 0;


}


  .home-text{
    padding-top:35px;
    margin-left: 10px;
  }
  .side-nav{
    display: none;
  }

  .secondgrid-photo img{
    display:none;
  }
  .home-text p{
 
    font-family: 'Rajdhani', sans-serif;
    word-spacing: 2.5px;
    margin-left: 25px;
 
    width: 85%;
    
     text-align: justify;

    font-size: 14.5px;
    padding-bottom: 150px;
  }

  .home-text h3{
    font-family: 'Rajdhani', sans-serif;
  }
  
  .home-text h1{
    color: white;
    position: relative;
    margin-left: 25px;
 
    width: 85%;
    letter-spacing: 15px;
    font-size: 45px;
  }
  
  .home-text h3{
    margin-left: 25px;
 
    width: 85%;
    font-family: 'Rajdhani', sans-serif;
  
  }

  body{
    display: block;
  }

  .portfolio_mobile{
    overflow: hidden;
    color: black;
    font-family: 'Rajdhani', sans-serif;
  }
  .portfolio_mobile h1{
    text-align: center;
    color: black;
    font-family: 'universedisplay',sans-serif; 

    word-spacing: 2.5px;
    margin-left: 35px;
  
    width: 85%;
    
     text-align: justify;
  
    font-size: 35px;
    margin-bottom: -2.5px;
    
  }
  .portfolio_mobile h3{ 
    text-align: center;
    color: black;
    word-spacing: 2.5px;
    margin-left: 35px;
  
    width: 85%;
    
     text-align: justify;
  

  }


  .portfolio_mobile img{
    display: block;
   width: 85%;
   margin: auto;
  }

.portfolio_mobile p{
  text-align: center;
  color: black;
  word-spacing: 2.5px;
  margin-left: 35px;

  width: 85%;
  
   text-align: justify;
  }

.portfolio_caption h1{
  font-family: 'Rajdhani', sans-serif;
  position: relative;
  margin-bottom: -20px;
}

.portfolio_caption p{
  font-family: 'Rajdhani', sans-serif;
  word-spacing: 2.5px;
  text-align: justify;
  padding-bottom: 15px;
}


.portfolio_caption h3{
  font-family: 'Rajdhani', sans-serif;
  position: relative;
  margin-bottom: -10px;
  color: #00245D;
  
}
  .col-md-1{
    display: none;
  }
  
.about_mobile{
  color: white;
}



.about_mobile h1{
  font-family: 'universedisplay',sans-serif;
  
  margin-left: 35px;
  width: 85%;
  position: relative;
}



.about_mobile h3{
  font-family: 'Rajdhani', sans-serif;
  word-spacing: 2.5px;
    margin-left: 20px;
 
    width: 90%;
    
     text-align: center;

    font-size: 13px;
    margin-bottom: -1.5px;
}

.social-icon{
  text-align: center;
  
}
.fa-stack{
  color: black;
}
.fa fa-twitter fa-stack-1x fa-inverse {
  color:white;
}
}




@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media screen and (min-width: 320px) {

  body{
    margin:auto;
    padding: auto;
   background-color: black;

  }

  
.container-fluid{
  margin: 0;
  padding: 0;


}


  .home-text{
    padding-top:35px;
   
  }
  .side-nav{
    display: none;
  }

  .secondgrid-photo img{
    display:none;
  }
  .home-text p{
 
    font-family: 'Rajdhani', sans-serif;
    word-spacing: 2.5px;
    margin-left: 25px;
 
    width: 85%;
    
     text-align: justify;

    font-size: 14.5px;
    padding-bottom: 150px;
  }

  .home-text h3{
    font-family: 'Rajdhani', sans-serif;
  }
  
  .home-text h1{
    color: WHITE;
    position: relative;
    margin-left: 25px;
 
    width: 85%;
    letter-spacing: 15px;
    font-size: 45px;
  }
  
  .home-text h3{
    margin-left: 25px;
 
    width: 85%;
    font-family: 'Rajdhani', sans-serif;
  
  }

  Body{
    display: block;
  }

  .portfolio_mobile{
    overflow: hidden;
    color: black;
    font-family: 'Rajdhani', sans-serif;
    background-color: white;
  }
  .portfolio_mobile h1{
    text-align: center;
    color: black;
    font-family: 'universedisplay',sans-serif; 

    word-spacing: 2.5px;
    margin-left: 35px;
  
    width: 85%;
    
     text-align: justify;
  
    font-size: 35px;
    margin-bottom: -2.5px;
    
  }
  .portfolio_mobile h3{ 
    text-align: center;
    color: black;
    word-spacing: 2.5px;
    margin-left: 35px;
  
    width: 85%;
    
     text-align: justify;
  

  }


  .portfolio_mobile img{
    display: block;
   width: 85%;
   margin: auto;
  }

.portfolio_mobile p{
  text-align: center;
  color: black;
  word-spacing: 2.5px;
  margin-left: 25px;

  width: 85%;
  
   text-align: justify;
  }

.portfolio_caption h1{
  font-family: 'Rajdhani', sans-serif;
  position: relative;
  margin-bottom: -20px;
}

.portfolio_caption p{
  font-family: 'Rajdhani', sans-serif;
  word-spacing: 2.5px;
  text-align: justify;
  padding-bottom: 15px;
}


.portfolio_caption h3{
  font-family: 'Rajdhani', sans-serif;
  position: relative;
  margin-bottom: -10px;
  color: #00245D;
  
}
  .col-md-1{
    display: none;
  }
  
.about_mobile{
  color: white;
}



.about_mobile h1{

  font-family: 'universedisplay',sans-serif;
  
  margin-left: 35px;
  width: 85%;
  position: relative;
}



.about_mobile h3{

  font-family: 'Rajdhani', sans-serif;
  word-spacing: 2.5px;

    margin-left: 20px;
 
    width: 90%;
    
     text-align: center;

    font-size: 13px;
    margin-bottom: -1.5px;
}

.social-icon{
  text-align: center;
  
}
.fa-stack{
  color: black;
}
.fa fa-twitter fa-stack-1x fa-inverse {
  color:white;
}
}




@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

}

